<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Factura</title>
</head>
<body>
    <h1>Detalles</h1>

    <h2>Datos emisor de la factura</h2>
    <p>CIF: {{ CIF }}</p>
    <p>Nombre: {{ nombre }}</p>
    <p>Dirección: {{ direccion }}</p>
    <p>Población: {{ poblacion }}</p>
    <p>Provincia: {{ provincia }}</p>
    <p>Código Postal: {{ codPostal }}</p>
    <p>País: {{ pais }}</p>
    <p>Contacto: {{ contacto }}</p>
    <p>Teléfono: {{ telefono }}</p>

    <h2>Datos del Cliente</h2>
    <p>CIF: {{ CIFCliente }}</p>
    <p>Nombre: {{ nombreCliente }}</p>
    <p>Dirección: {{ direccionCliente }}</p>
    <p>Población: {{ poblacionCliente }}</p>
    <p>Provincia:{{ provinciaCliente }}</p>
    <p>Código Postal: {{ codPostalCliente }}</p>
    <p>País: {{ paisCliente }}</p>
    <p>Contacto: {{ contactoCliente }}</p>
    <p>Email: {{ emailCliente }}</p>
    <p>Teléfono: {{ telefonoCliente }}</p>

    <h2>Línea de detalle</h2>
    <p>Concepto: {{ concepto }}</p>
    <p>Precio: {{ precio }}</p>
    <p>Unidades: {{ unidad }}</p>
    <p>Importe: {{ importe }}</p>
    <p>IVA en %: {{ IVA }}</p>
    <p>Importe Total: {{ importeTotal }}</p>

</body>
</html>